body, html {
    height: 100%;
  }
  
  /* The hero image */
  .hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/canal-2395818.jpg");
  
    /* Set a specific height */
    height: 25%;
    top: 6vh;
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.section_titles {
    text-align: center;
}

.descriptors {
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0%;
    width: 50%;
    text-align: center;
}